
$v-rootLevelFontSize: 		$v-sizeBase;
$v-rootLevelLineHeight: 	$v-sizeBase * 1.5;


$v-level1FontSize: 			$v-rootLevelFontSize * 1.5;
$v-level1LineHeight: 		$v-rootLevelLineHeight * 1.5;


$v-level2FontSize: 			$v-rootLevelFontSize * 1.25;
$v-level2LineHeight: 		$v-rootLevelLineHeight * 1.25; 


